<div class="card" style="width: 60vw; height 100vmax;">
    <div class="container" style="text-align: center;">
        <h2>{{title}}</h2>
        <h3>Actions</h3>
            <button><a href="/alert/live">Send a Live Alert</a></button>
            <li><a href="/alert/test">Send a Test Alert</a></li>
            <li><a href="/cancel">Send an Alert Cancellation</a></li>
            <li><a href="/log">See all system actions</a></li>
        <h3>Recent Alerts</h3>
        <ul>
            <li>...</li>
        </ul>
    </div>
</div>
