// THIS IS THE FILE YOU EDIT


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    background-color: white;
    width: 40%;
    height: 50vh;
    margin: 0 auto;
    float: none;
}

.container {
    margin: 0 auto;
    float: none;
}
.login {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}

::placeholder {
    font-size: large;
    font-family: 'IBM Plex Sans Condensed', sans-serif;

}

input[type=text], select{
    width:20vw;
    height:6vh;
    border-radius: 1px;
    font-size: large;
}

input[type=password], select{
    width:20vw;
    height:6vh;
    border-radius: 1px;
    font-size: large;
}

.login-button{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: medium;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 8.4vw;
    padding-right: 8.4vw;

}

.dash-button{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: medium;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2% 2%;
    padding-bottom: 10%
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #4b5360;
}

a {
  color: #00B7FF;
}

.alert {
  &.live {
    h2, h3 {
      color: red;
    }
  }
  &.test {
    h2, h3 {
      color: green;
    }
  }
  &.cancel {
    h2, h3 {
      color: blue;
    }
  }
  &.create {
    .methods, .locations {
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        list-style: none;
        &::before {
          content: "\200B";
        }
      }
    }
  }
}

.summary {
  .methods , .locations {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      color: #ccc;
      position: relative;
      list-style: none;

      &::before {
        position: absolute;
        left: -1.5em;
        content: "✗";
      }
    }

    li.selected {
      color: #000;

      &::before {
        content: "✓";
      }
    }
  }
}

.inline {
  display: inline;
}
